* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%px;
	max-width: 640px;
	margin: 0 auto;
	font-family: arial, tahoma, verdana;
	font-size: 11px;
	background: url("../../src-mobile/img/background.png") no-repeat;
	background-position: center -74px;
}
.wrap {
	margin: 0 auto;
	width: 100%;
}
.logo-top {
	width: 68px;
	height: 51px;
	background: url("../../src-mobile/img/m-sprite-studio.png") no-repeat 1px 0;
	margin: 33px auto;
}

.string {
	height: 36px;
	background-color: #000;
	opacity: .7;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}
ul {
	list-style-type: none;
}

.doshkawoods {
	width: 93px;
	height: 103px;
	background: url("../../src-mobile/img/m-sprite-category.png") no-repeat 0 0;
	margin: auto;
	margin-top:-39px;
	}

li {
	width: 171px;
	height: 42px;
	margin: auto;
	margin-top: 13px;
}

.kachon {
	background: url("../../src-mobile/img/m-sprite-category.png") no-repeat -118px 0;
}
.shaker {
	background: url("../../src-mobile/img/m-sprite-category.png") no-repeat -306px 0;
}
.barchaims {
	background: url("../../src-mobile/img/m-sprite-category.png") no-repeat -501px 0;
}
.tambourin {
	background: url("../../src-mobile/img/m-sprite-category.png") no-repeat -688px 0;
}
.bong {
	background: url("../../src-mobile/img/m-sprite-category.png") no-repeat -869px 0;
}
