@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic-ext);

body {
width: 100%;
    max-width: 640px;
    min-height: 500px;
    margin: 0 auto;
    font-size: 11px;
    background: url(../../src-mobile/img/background.png) repeat-y;
    background-size: 640px;
    background-position: center -486px;
}
.wrap {
	background: rgba(0, 0, 0, 0.7);
}
.logo {
	background: url(../img/logo-item.png) no-repeat 0px 0px;
	width: 104px;
	height: 78px;
	margin: 15px auto 10px;
}
header h1 {
	font-size: 24px;
	margin: 0;
    font-family: Jura, Arial;
    line-height: 55px;
    color: #fff;
    text-align: center;
    border-top: #fff 3px solid;
    border-bottom: #fff 3px solid;
}
.item h1 span {
    text-transform: uppercase;
}
.shaker {
    width: 235px;
    height: 157px;
    margin: 20px auto;
}
.shaker .img2 {
    margin-top: 36px;
}
.kahon {
	width: 200px;
	height: 165px;
	margin: 20px auto;
}
.img1 {
	float: left;
}
.img2,
.img3 {
	float: right;
}
.img3 {
	margin-top: 10px;
}
.item .border {
	border-top: #fff 3px solid;
    border-bottom: #fff 3px solid;
}
.item .about {
    margin: 0 auto;
    width: 297px;
    padding: 10px 0;
}
.item ul {
    padding-left: 25px;
}
.item ul .descr {
	font-size: 20px; 
	padding-bottom: 10px;
}
.item li {
    font-size: 15px;
    font-family: Jura, Arial;
    color: #fff;
    list-style-type: none;
    line-height: 18px;
}
.item .cost {
    font-size: 24px;
    font-family: Jura, Arial;
    color: #fff;
    display: block;
    text-align: right;
}
.item .basketadd, 
.item .buy {
    border: #fff 2px solid;
    font-family: Jura, Arial;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 30px auto;
}
.item .basketadd:hover, 
.item .buy:hover {
    opacity: 0.8;
    transform: scale(1.01);
}
.item .basketadd {
    width: 230px;
    height: 20px;
    font-size: 20px;
    padding: 15px 5px;
}
.item .buy {
    width: 160px;
    height: 45px;
    font-size: 25px;
    font-weight: bold;
    padding: 6px 0;
    box-sizing: border-box;
}

#audioplayer{
    width: 310px;
    height: 35px;
    margin: 15px auto;
}
#pButton{
    background: url(../img/sprite-mob-item.png) no-repeat 0px 0px;
    height: 32px;
    width: 27px;
    border: none;
    float: left;
    margin-right: 10px;
}
#timeline{
    width: 220px;
    height: 5px;
    margin-top: 15px;
    float: left;
    background-color: #000;
}
#playhead{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: -5px;
    background: #fff;
}
/*#volume_control{
    float: right;
    margin-top: -110px;
}
#rngVolume{
    margin-right: -87px;
    -webkit-appearance: slider-vertical;
}*/
#volume_control button {
    background: url(../img/sprite-mob-item.png) no-repeat -82px 0;
    height: 32px;
    width: 32px;
    border: none;
    margin: 2px 0 0 20px;
}
.item .video {
    margin: 15px auto;
    width: 260px;
}
.item iframe {
    width: 260px;
    height: 185px;
}
.bordertop {
	border-top: #fff 3px solid;
}
.item .social {
	width: 165px;
    margin: 15px auto 0;
}
.item .social span {
    font-size: 17px;
    font-family: Jura, Arial;
    color: #fff;
    margin-left: 16px;
}
.item .icons {
	width: 119px;
	margin: 0 auto;
    padding: 15px 0;
}
.item .facebook,
.item .vk,
.item .gplus {
    width: 36px;
    height: 35px;
    display: inline-block;
    font-size: 0;
}
.item .facebook {
    background: url(../../src/img/sprite-item.png) no-repeat -179px -8px;
}
.item .vk {
    background: url(../../src/img/sprite-item.png) no-repeat -227px -7px;
}
.item .gplus {
    background: url(../../src/img/sprite-item.png) no-repeat -325px -7px;
}