* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic-ext);
body {
	width: 100%;
	max-width: 640px;
	height: 100vh;
	margin: 0 auto;
	font-family: Jura, Arial;
	font-size: 11px;
	background: url(../../src-mobile/img/background.png) repeat-y;
	background-size: 640px;
	background-position: center -741px;
}
.wrap {
	margin: 0 auto;
	width: 100%;
	height: 560px;
	padding-top: 11px;
}
h1, p, input {
	text-align: center;
}

input {
	text-align: left;
	position: relative;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.order-list, .info {
	margin: auto;
	background-color: yellow;
	padding: 10px;
	width: 100%;
	border: solid black 2px;
}

.info {
	margin-top: 15px;
	margin-bottom: 15px;
}

.info p {
	margin-bottom: 10px;
}

.totalPrice, .submit {
	display: inline-block;
}

.totalPrice {
	margin-left: 225px;
}

.submit {
	float: right;
	margin-right: 225px;
}
