* {
	margin: 0;
	padding: 0;
}
body {
	background: url('../img/backgroundabout.png');  
	background-repeat: no-repeat;
	min: 100%;
	min-height: 700px;
    // background-size: cover;
    background-position: top;
}


.string {
    width: 1234px;
    height: 80px;
    margin: auto;
    margin-top: 164px;
    opacity: .7;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background-color: #000;

 
}
.pointer {
	display: block;
    margin-top: 6px;
    // margin-left: 184px;
    width: 68px;
    height: 70px;
    background: url("../img/about-sprite.png") 0 0;
    float: left;
    margin-left: 150px;
}
.woods {
    margin-top: -53px;
    width: 187px;
    height: 187px;
    background: url("../img/about-sprite.png") 0 0; 
    background-position-x : 157%;
    background-position-y : 0%;
    // border: 1px solid white;
    float: right;
    opacity: .7;
    margin-right: 90px;
}


.wrap {
    width: 1234px;
    height: 761px;
    margin: auto;
}

.logo {
	display: block;
    margin-top: 121px;
    margin-left: 466px;
    width: 378px;
    height: 283px;
    background: url("../img/about-sprite.png") 0 77px;
    background-repeat: no-repeat;
    // border: 1px solid white;
    // background-size: cover;
    background-position-x : 100%;
	background-position-y : 0%;
    float: left;
    opacity: .7;

}

