@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic-ext);

body {
	margin: 0;
	background: url("../../src/img/category-background.png") round;
}
.wrap {
	padding-top: 10px;
	width: 1200px;
	margin: 0 auto;
}
.basket {
	background: url("../../src/img/category.sprite.png") no-repeat -17px -174px;
	width: 495px;
	height: 270px;
	position: fixed;
	right: -360px;
	top: 280px;
	transition: .5s ease-out;
}
.basket:hover {
	position: fixed;
	right: 0;
	transition: .5s ease-out;
}
.cart {
	background: url("../../src/img/category.sprite.png") no-repeat -596px -28px;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 30px;
	top: 27px;
}
.amount {
	background: url("../../src/img/category.sprite.png") no-repeat -714px -14px;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50px;
	bottom: 60px;
}
.basket hr {
	width: 3px;
	height: 200px;
	background: #000;
    border: none;
	margin-left: 150px;
    margin-top: -40px;
}
.list,
.hrn {
	font-family: Jura, Arial;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	text-align: right;
    text-transform: uppercase;
}
.list {
    margin-right: 175px;
    margin-top: 45px;
}
.hrn {
	margin-right: 50px;
	margin-top: -15px;
}
.hrn:before {
	content: "1";
    padding: 2px 5px;
	border: 1px solid #000;
	margin-right: 15px;
}
.total {
	display: inline-block;
	height: 20px;
	width: 112px;
	font-family: Jura, Arial;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	background: rgba(64,49,34,0.9);
	opacity: 0.9;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	margin-left: 175px;
    margin-top: -77px;
}
.chosen a {
	display: inline-block;
	height: 20px;
	width: 130px;
	border: 2px #000 solid;
	font-family: Jura, Arial;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	padding: 3px;
	vertical-align: middle;
	margin-left: 325px;
    margin-top: -115px;
	text-align: center;
}
.logo {
	width: 985px;
    margin: 0px auto;
}
.logo ul {
	margin: 0; 
}
.logo:before {
	content: "";
	float: left;
	background: url("../../src/img/category.sprite.png") no-repeat 0px 0px;
	width: 83px;
	height: 81px;
}
.logo li {
	list-style-type: none;
}
.logo li:hover {
	text-shadow: 1px 1px 2px orange, 0 0 1em red;
	transform: scale(1.01);
}
.logo a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: Jura, Arial;
	font-size: 27px;
	font-weight: bold;
	color: #000;
}
.title {
	background: url("../../src/img/category.sprite.png") no-repeat -204px -9px;
	width: 385px;
	height: 161px;
	margin: 0 auto;
    position: relative;
    top: -95px;
}
.items {
	width: 985px;
	min-height: 990px;
	background: url("../../src/img/items-bg.png") no-repeat;
	margin: 45px auto;
}
.item {
	vertical-align: top;
	display: inline-block;
	font-size: 0;
	width: 382px;
	height: 210px;
	background: rgba(73,66,53,0.9);
	margin-left: 71px;
	margin-top: 108px;
	border: solid 2px #000;
	text-decoration: none;
}
.item:hover {
	background: rgba(73,66,53,0.7);
    transform: scale(1.01);
}
.about {
	margin-top: 25px;
	margin-left: 20px;
}
.prime {
	margin-top: -92px;
}
.item h2 {
	color: #fff;
	font-family: Jura, Arial;
	font-size: 20px;
}
.first .about:before {
	content: "";
	background: url("../../src/img/kahon-cat-sprite.png") no-repeat -745px 0px;
	float: left;
	width: 120px;
	height: 160px;
	padding-left: 10px;
}
.second .about:before {
    content: "";
    background: url("../../src/img/kahon-cat-sprite.png") no-repeat -184px 0px;
    float: left;
    width: 126px;
    height: 160px;
    padding-left: 10px;
}
.third .about:before {
    content: "";
    background: url("../../src/img/kahon-cat-sprite.png") no-repeat -557px 0px;
    float: left;
    width: 125px;
    height: 160px;
    padding-left: 10px;
}
.fourth .about:before {
    content: "";
    background: url("../../src/img/kahon-cat-sprite.png") no-repeat -382px 0px;
    float: left;
    width: 124px;
    height: 160px;
    padding-left: 10px;
}
.fifth .about:before {
    content: "";
    background: url("../../src/img/kahon-cat-sprite.png") no-repeat 0px -3px;
    float: left;
    width: 124px;
    height: 160px;
    padding-left: 10px;
}
.sixth .about:before {
    content: "";
    background: url("../../src/img/kahon-cat-sprite.png") no-repeat -907px 0px;
    float: left;
    width: 126px;
    height: 160px;
    padding-left: 10px;
}
.item ul {
    margin-bottom: 0;
}
.item li {
	color: #fff;
	font-family: Jura, Arial;
	font-size: 15px;
	list-style-type: none;
	line-height: 17px;
}
.item .price {
	color: #fff;
	font-family: Jura, Arial;
	font-size: 22px;
	margin-right: 30px;
    text-align: right;
    margin-top: 10px;
}
.topbutton {
	background: url("../../src/img/category.sprite.png") no-repeat -104px 0px;
	width: 67px;
	height: 90px;
	position: fixed;
	left: 23px;
	bottom: 30px;
	opacity: 0.7;
}
.popup .wrap {
    margin: 0;
    background: url(../../src/img/kahon-bg.png) no-repeat;
    width: 900px;
    height: 900px;
    padding-top: 30px;
}
.popup .left {
    float: left;
    width: 300px;
    padding: 0px 15px 25px 40px;
    border-right: 2px solid #fff;
}
.popup .img1 {
    float: left;
    margin: 0 10px 30px 0;
}
.popup .img2 {
    float: right;
    margin-top: 15px;
}
.popup .img3 {
    float: right;
    margin-top: 20px;
}
.popup .lineleft { 
    background: #fff;
    margin: 0;
    width: 338px;
    height: 1px;
    margin-left: -24px;
}
.popup iframe {
    width: 275px;
    height: 200px;
    margin-top: 32px;

}
.popup .right {
    float: right;
    width: 508px;
    padding-right: 30px;
}
.popup h1 {
    margin: 0;
    font-size: 28px;
    font-family: Jura, Arial;
    color: #fff;
    text-align: center;
}
.popup h1 span {
    text-transform: uppercase;
}
.popup .lineright {
    width: 498px;
    background: #fff;
    height: 1px;
    margin-left: 10px;
    margin-top: 10px;
}
.popup .itemdescr ul {
    padding-left: 30px;
}
.popup li {
    font-size: 18px;
    font-family: Jura, Arial;
    color: #fff;
    list-style-type: none;
    line-height: 21px;
}
.popup .cost {
    font-size: 30px;
    font-family: Jura, Arial;
    color: #fff;
    text-align: right;
    margin-right: 20px 42px 20px 0px;
}

#audioplayer{
    width: 495px;
    height: 58px;
    margin: 20px auto -17px;
    border-top: solid #fff 1px;
    border-bottom: solid #fff 1px;
}
 
#pButton{
    background: url(../../src/img/sprite-item.png) no-repeat -119px -4px;
    height: 43px;
    width: 38px;
    border: none;
    float:left;
    margin: 7px 15px 0 0;
}
#timeline{
    width: 375px;
    height: 5px;
    margin-top: 25px;
    float: left;
    display: block;
    background-color: #000;
    position: relative;
}
 
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: -6px;
    background: #fff;
}
 
/*#volume_control{
    float: right;
    margin-top: -110px;
}
#rngVolume{
    margin-right: -87px;
    -webkit-appearance: slider-vertical;
}*/
#volume_control button {
    background: url(../../src/img/vol-i.png) no-repeat;
    height: 48px;
    width: 48px;
    border: none;
    margin: 4px 0 0 19px;
}
.popup .social {
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.popup .social span {
    font-size: 17px;
    font-family: Jura, Arial;
    color: #fff;
    margin-left: 50px;
    margin-right: 20px;
}
.popup .facebook,
.popup .vk,
.popup .youtube,
.popup .gplus {
    width: 35px;
    height: 35px;
    display: inline-block;
    font-size: 0;
}
.popup .facebook {
    background: url(../../src/img/sprite-item.png) no-repeat -180px -7px;
}
.popup .vk {
    background: url(../../src/img/sprite-item.png) no-repeat -228px -7px;
}
.popup .gplus {
    background: url(../../src/img/sprite-item.png) no-repeat -324px -7px;
}
.popup .action {
    position: fixed;
    bottom: 330px;
}
.popup .basketadd, 
.popup .buy {
    vertical-align: top;    
    border: #fff 2px solid;
    font-family: Jura, Arial;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}
.popup .basketadd:hover, 
.popup .buy:hover {
    opacity: 0.8;
    transform: scale(1.01);
}
.popup .basketadd {
    width: 230px;
    height: 19px;
    font-size: 21px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 14px 0;
}
.popup .buy {
    width: 188px;
    height: 33px;
    font-size: 30px;
    font-weight: bold;
    padding: 7px 0;
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed; /* фиксированное поцизионирование */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    left: 50%; 
    z-index: 1;
    top: 2%;
    position: absolute;
/* внешняя тень */
    /*-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);*/
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.7s ease-out;
    -moz-transition: -moz-transform 0.7s ease-out;
    -o-transition: -o-transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
/* формируем кнопку закрытия */
.close {
    background: url(../../src/img/sprite-item.png) no-repeat 0px 0px;
    top: -13px;
    right: -17px;
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:hover {
    opacity: 0.8;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}