/*<<<<<<<<<<<<<<<<<<<<< GENERAL CSS >>>>>>>>>>>>>>>>>>>>>>*/
@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic-ext);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Jura, Arial;
}
.main-wrap {
	width: 300vw;
	background: url(../../src/img/background.png) no-repeat;
	background-size: 100% 100%;
	clear: both;
	position: fixed;
	top: 0;
	left: -100vw;
	transition-timing-function: linear;
	transition-duration: 1s;
}
.size {
	width: 100vw;
	height: 100vh;
	min-height: 736px;
	text-align: center;
}
.conteiner-1200 {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.conteiner-center {
	width: 1200px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
.line {
	float: left;
	margin-top: 140px;
	width: 100%;
	height: 80px;
	background: rgba(29, 18, 11, .7);
	border-top: 4px solid #d9cbb9;
	border-bottom: 4px solid #d9cbb9;
}
.animation {
	transition: all 0.2s ease-out;
}
.animation:hover {
	transform: scale(1.1);
}
.animation:active {
	transform: scale(1);
}
.plus {
	padding-top: 20px;
}
.arrow-left, .arrow-right, .arrow-bottom {
	width: 70px;
	height: 70px;
	cursor: pointer;
}
.arrow-left {
		float: right;
	background-image: url("../img/main/arrow-left.png");
}
.arrow-right {
	float: left;
	background-image: url("../img/main/arrow-right.png");
}
.arrow-bottom {
	float: right;
	background-image: url("../img/main/arrow-bottom.png");
}
.arrow-left:hover {
	transform: scale(1.1);
}
.arrow-right:hover {
	transform: scale(1.1);
}
.arrow-bottom:hover {
	transform: scale(1.1);
}
/*<<<<<<<<<<<<<<<<<<<<< END GENERAL CSS >>>>>>>>>>>>>>>>>>>>>>*/

/********************************************************************/

/*<<<<<<<<<<<<<<<<<<<<< TOP LEFT BLOCK >>>>>>>>>>>>>>>>>>>>>>*/
.categories {
    float: left;
    margin: 50px 0 0 250px;
    width: 700px;
}
.category {
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: 10px 15px;
    border: solid 2px white;
    text-align: center;
    box-shadow: 10px 6px 15px rgba(0, 0, 0, .5);
}
.category p {
	visibility: hidden;
	color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 78px;
}
.category:hover {
	text-align: center;
	transition: 1s;
	background: #404040;
}
.category:hover p {
	visibility: visible;
	transition: 1s;
    color: white;
}
.kahon, .shaker, .barchimes, .tambourine, .darbuka, .castanets {
	background-size: 100% 100%;
}
.kahon {
	background-image: url("../img/main/category/kahon.png");
}
.shaker {
	background-image: url("../img/main/category/shaker.png");
}
.barchimes {
	background-image: url("../img/main/category/barchimes.png");
}
.tambourine {
	background-image: url("../img/main/category/tambourine.png");
}
.darbuka {
	background-image: url("../img/main/category/darbuka.png");
}
.castanets {
	background-image: url("../img/main/category/castanets.png");
}
/*<<<<<<<<<<<<<<<<<<<<< END TOP LEFT BLOCK >>>>>>>>>>>>>>>>>>>>>>*/

/********************************************************************/

/*<<<<<<<<<<<<<<<<<<<<< TOP CENTRAL BLOCK >>>>>>>>>>>>>>>>>>>>>>*/
.contact {
	width: 240px;
	padding-top: 22px;
	float: left;
	cursor: pointer;
}
.contact .name {
	height: 54px;
}
.contact .name:hover {
	transition-duration: .2s;
	transform: scale(1.1);
}
.contacts-info {
	visibility: hidden;
	width: 214px;
	height: 120px;
	border: 2px solid #d9cbb9;
	background: rgba(29, 18, 11, .7);
	padding-top: 10px;
	margin-top: -2px;
}
.contact:hover .contacts-info {
	visibility: visible;
}
.contacts-info p{
	color: white;
	font-size: 14px;
	font-family: Jura, Arial;
	color: #fefefe;
	line-height: 30px
}
.shop, .doshka-woods, .studio {
	display: inline-block;
	background-color: rgba(0, 0, 0, .7);
	border: 4px solid rgba(255, 255, 255, .7);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.shop, .studio {
	width: 180px;
	height: 180px;
	margin: -52px 20px;
	-moz-border-radius: 92px;
	-webkit-border-radius: 92px;
	border-radius: 92px;
	cursor: pointer;
}
.doshka-woods {
	width: 224px;
	height: 224px;
	margin: -74px 24px;
	-moz-border-radius: 116px;
	-webkit-border-radius: 116px;
	border-radius: 116px;
	cursor: pointer;
}
.name {
	height: 72px;
	font-family: Jura, Arial;
	font-size: 24px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.doshka-woods .name {
	padding-top: 8px;
}
.shop .name {
	padding-top: 22px;
}
.studio .name {
	padding-top: 22px;
}	
.circle-small-top, .circle-small-bottom {
	height: 46px;
}
.circle-small-top {
	padding-top: 20px;
}
.circle-small-bottom {
	padding-top: 12px;
}
.circle-big-top, .circle-big-bottom {
	height: 68px;
}
.circle-big-top {
	padding-top: 25px;
}
.circle-big-bottom {
	padding-top: 25px;
}
.circle-small {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 9px solid #fff;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
.circle-big {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: white;
	border: 12px solid #fff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.lineyka {
	position: relative;
	top: 300px;
	left: 690px;
	width: 660px;
	height: 150px;
	background-image:  url("../img/main/social/lineyka.png");
	background-size: 100% 100%;
}
.lineyka-container {
	position: absolute;
	top: 50px;
	left: 36px;
}
.lineyka a {
	float: left;
	margin-right: 1px;
	width: 49px;
	height: 49px;
}
.lineyka a:hover {
	transform: scale(0.95);
	opacity: .8;
}
.facebook {
	background-image: url("../img/main/social/facebook.png");
	margin-top: 15px;
}
.vk {
	background-image: url("../img/main/social/vk.png");
	margin-top: 12px;
}
.youtube {
	background-image: url("../img/main/social/youtube.png");
	margin-top: 9px;
}
.google {
	background-image: url("../img/main/social/google.png");
	margin-top:6px;
}
.instagram {
	background-image: url("../img/main/social/instagram.png");
	margin-top: 3px;
}
.twitter {
	background-image: url("../img/main/social/twitter.png");
	margin-top: 0px;
}
/*<<<<<<<<<<<<<<<<<<<<< END TOP CENTRAL BLOCK >>>>>>>>>>>>>>>>>>>>>>*/

/********************************************************************/

/*<<<<<<<<<<<<<<<<<<<<< TOP RIGTH BLOCK >>>>>>>>>>>>>>>>>>>>>>*/
.block1,
.blockfull {
	width: 1008px;
	min-height: 280px;
	background: rgba(29, 18, 11, .7);
	border: #d9cbb9 4px solid;
	padding: 17px;
	margin: 0 auto;
	border-radius: 3px;
	font-family: Jura, Arial;
	color: #fefefe;
	text-align: left;
}
.blockfull {
	width: 694px;
}
.overlayart {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed; /* фиксированное поцизионирование */
}
/* активируем слой затемнения */
.overlayart:target {
    display: block;
}
/* стили модального окна */
.blockfull {
    left: 62%; 
    z-index: 1;
    top: 35%;
    position: fixed;
/* внешняя тень */
    /*-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);*/
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.7s ease-out;
    -moz-transition: -moz-transform 0.7s ease-out;
    -o-transition: -o-transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
}
/* активируем модальный блок */
.overlayart:target+.blockfull {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.block1 img {
	float: left;
	width: 282px;
	height: 262px;
	border: 4px solid #fefefe;
}
.block1 h2 {
	padding: 8px;
	margin-left: 480px;
	border: 4px solid #fefefe;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	width: 280px;
}
.block1 p {
	font-size: 29px;
	line-height: 33px;
	margin: 12px 0px 0px 312px;
}
.blockfull p {
	font-size: 19px;
	line-height: 24px;
}
.block1 a {
	display: block;
	border: 4px solid #fefefe;
	text-transform: uppercase;
	text-align: center;
	font-size: 27px;
	font-weight: bold;
	margin: 21px 0px 0px 847px;
	text-decoration: none;
	border-radius: 3px;
	color: #fefefe;
	padding: 5px 13px;
}
/*<<<<<<<<<<<<<<<<<<<<< END RIGTH BLOCK >>>>>>>>>>>>>>>>>>>>>>*/

/********************************************************************/

/*<<<<<<<<<<<<<<<<<<<<< BOTTOM LEFT BLOCK >>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<< END BOTTOM LEFT BLOCK >>>>>>>>>>>>>>>>>>>>>>*/

/********************************************************************/

/*<<<<<<<<<<<<<<<<<<<<< BOTTOM CENTRAL BLOCK >>>>>>>>>>>>>>>>>>>>>>*/
.doshkawoods-logo {

	display: inline-block;
	margin-top: 110px;
	width: 377px;
	height: 285px;
	background-image: url("../img/main/doshkawoods-logo.png");
	opacity: .7;
}

/*<<<<<<<<<<<<<<<<<<<<< END BOTTOM CENTRAL BLOCK >>>>>>>>>>>>>>>>>>>>>>*/

/********************************************************************/

/*<<<<<<<<<<<<<<<<<<<<< BOTTOM RIGHT BLOCK >>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<< END BOTTOM RIGHT BLOCK >>>>>>>>>>>>>>>>>>>>>>*/
