@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic-ext);

body {
	margin: 0;
	background: url("../img/category-background.png") no-repeat;
 /*   background-position: center;*/
    background-size: 100% 100%;
}
.wrap {
	padding-top: 10px;
	width: 1200px;
	margin: 0 auto;
}
.basket {
	background: url("../img/category.sprite.png") no-repeat -17px -174px;
	width: 495px;
	height: 270px;
	position: fixed;
	right: -360px;
	top: 200px;
	transition: .5s ease-out;
    visibility: hidden;
}
.basket:hover {
	position: fixed;
	right: 0;
	transition: .5s ease-out;
}
.basket ul {
    position: absolute;
    margin-top: 20px;
    width: 425px;
    list-style: none;
}
.remove {
    display: block;
    float: right;
    margin-left: 5px;
    width: 13px;
    height: 13px;
    background: url(https://cdn4.iconfinder.com/data/icons/32x32-free-design-icons/32/Delete.png);
    background-size: 100%;
    cursor: pointer;
}
.remove:hover {
    transform: scale(1.5);
}
.amount {
    border: 3px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    left: 50px;
    bottom: 60px;
}
.val {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    -ms-transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
}
.cart {
	background: url("../img/category.sprite.png") no-repeat -596px -28px;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 30px;
	top: 27px;
}
.basket hr {
	width: 3px;
	height: 200px;
	background: #000;
    border: none;
	margin-left: 120px;
    margin-top: 20px;
}

.list,
.hrn {
	font-family: Jura, Arial;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	text-align: right;
    text-transform: uppercase;
}
.list {
    margin-right: 175px;
    margin-top: 45px;
}
.hrn {
	margin-right: 50px;
	margin-top: -15px;
}
.hrn:before {
	content: "1";
    padding: 2px 5px;
	border: 1px solid #000;
	margin-right: 15px;
}
.total {
	display: inline-block;
	height: 20px;
	width: 112px;
	font-family: Jura, Arial;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	background: rgba(64,49,34,0.9);
	opacity: 0.9;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	margin-left: 175px;
    margin-top: -80px;
}
.chosen a {
	display: inline-block;
	height: 20px;
	width: 130px;
	border: 2px #000 solid;
	font-family: Jura, Arial;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	padding: 3px;
	vertical-align: middle;
	margin-left: 325px;
    margin-top: -120px;
	text-align: center;
}

.krestik {
    display: block;
    background: url(../img/shop-sprite.png) -383px -157px;
    height: 56px;
    width: 60px;
    position: relative;
    top: -170px;
    left: 934px;
}

.items2,
.itemsempty {
    width: 985px;
    min-height: 390px;
    background: url("../img/categoryonerow.png") no-repeat;
    margin: 170px auto;
    text-align: left;
}
.items2 .price{
    padding-top: 35px;
}
.items2 .title {
    background: url("../img/cat-title-sprite.png") no-repeat -8px -17px;
    width: 387px;
    height: 161px;
    margin: 0 auto;
    position: relative;
    top: -95px;

}
.items2 .first .about:before {
    content: "";
    background: url("../img/shaker-cat-sprite.png") no-repeat 12px 0;
    float: left;
    width: 70px;
    height: 160px;
    padding-left: 20px;
}
.items2 .second .about:before {
    content: "";
    background: url("../img/shaker-cat-sprite.png") no-repeat -70px 0;
    float: left;
    width: 70px;
    height: 160px;
    padding-left: 20px;
}
.item {
	vertical-align: top;
	display: inline-block;
	font-size: 0;
	width: 382px;
	height: 210px;
	background: rgba(73,66,53,0.9);
	margin-left: 71px;
	margin-top: 108px;
	border: solid 2px #000;
	text-decoration: none;
    padding-left: 12px;
    
}
.item:hover {
    background: rgba(73,66,53,0.7);
    transform: scale(1.01);
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}

.about {
	margin-top: 25px;
	margin-left: 20px;
}
.prime {
	margin-top: -153px;;
}
.item h2 {
	color: #fff;
	font-family: Jura, Arial;
	font-size: 20px;
}

.item ul {
    margin-bottom: 0;
}
.item li {
	color: #fff;
	font-family: Jura, Arial;
	font-size: 15px;
	list-style-type: none;
	line-height: 17px;
}
.item .price {
	color: #fff;
	font-family: Jura, Arial;
	font-size: 22px;
	margin-right: 30px;
    text-align: right;
    margin-top: 10px;
}
.popup .wrap {
    margin: 0;
    background: url(../../src/img/kahon-bg.png) no-repeat;
    width: 900px;
    height: 900px;
    padding-top: 30px;
}
.popup .left {
    float: left;
    width: 300px;
    padding: 0px 15px 25px 40px;
    border-right: 2px solid #fff;
}
.popup .img1 {
    float: left;
    margin: 0 10px 30px 0;
}
.popup .img2 {
    float: right;
    margin-top: 15px;
}
.popup .img3 {
    float: right;
    margin-top: 20px;
}
.popup .lineleft { 
    background: #fff;
    margin: 0;
    width: 338px;
    height: 1px;
    margin-left: -24px;
}
.popup iframe {
    width: 275px;
    height: 200px;
    margin-top: 32px;
}
.popup .right {
    float: right;
    width: 508px;
    padding-right: 30px;
}
.popup h1 {
    margin: 0;
    font-size: 28px;
    font-family: Jura, Arial;
    color: #fff;
    text-align: center;
}
.popup h1 span {
    text-transform: uppercase;
}
.popup .lineright {
    width: 498px;
    background: #fff;
    height: 1px;
    margin-left: 10px;
    margin-top: 10px;
}
.popup .itemdescr ul {
    padding-left: 30px;
}
.popup li {
    font-size: 18px;
    font-family: Jura, Arial;
    color: #fff;
    list-style-type: none;
    line-height: 21px;
}
.popup .cost {
    font-size: 30px;
    font-family: Jura, Arial;
    color: #fff;
    text-align: right;
    margin: 20px 42px 20px 0px;
}



