* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/background.png");
    font-family: Arial;
}

.shop-header {
    margin-top: 164px;
    width: 100%;
    height: 80px;
    opacity: .7;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background-color: #000;
}

.shop-header>.shop-dir-logo {
    display: block;
    margin-top: -3.3em;
    margin-left: 11em;
    width: 200px;
    height: 200px;
    background: url("../img/shop-sprite.png") 0 0;
}

.wrap>.shop-categories {
    margin: auto;
    width: 52em;
    margin-top: 7em;
}

.wrap>.shop-categories>.shop-category {
    display: inline-block;
    width: 15em;
    height: 15em;
    margin: 1em;
    background: white;
    border: solid 0.1em white;
}

.wrap>.shop-categories>.shop-category:hover {
    background: #3a3a3a;
}

.wrap>.shop-categories>.shop-category:active>p{
    color: white;
}

.wrap>.shop-categories>.shop-category>p {
    margin-top: 0.55em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}