* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/shop-background.png");
    background-position: top -18em left -244em;
    font-family: Arial;
}

.shop-header {
    margin-top: 164px;
    width: 100%;
    height: 80px;
    opacity: .7;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background-color: #000;
}

.shop-header>.shop-dir-logo {
    display: block;
    margin-top: -4em;
    margin-left: 11em;
    width: 200px;
    height: 200px;
    background: url("../img/shop-sprite.png") 0 0;
}

.shop-header>a>.shop-logo {
    display: block;
    position: absolute;
    margin-left: 24em;
    margin-top: -14em;
    width: 103px;
    height: 82px;
    background: url("../img/shop-sprite.png") -222px -83px;
}

.shop-header>a:hover>.shop-logo, .shop-header>a:hover>.shop-return {
    opacity: .7;
}

.shop-header>a>.shop-return {
    display: block;
    position: absolute;
    margin-left: 65em;
    margin-top: -8em;
    width: 65px;
    height: 65px;
    background: url("../img/shop-sprite.png") -224px 0;
}


.wrap {
    display: block;
    width: 1234px;
    height: 761px;
}

.wrap>.shop-categories {
    width: 52em;
    margin-top: 7em;
    margin-left: 15em;
}

.wrap>.shop-categories>.shop-category {
    display: inline-block;
    width: 15em;
    height: 15em;
    margin: 1em;
    background: white;
    border: solid 0.1em white;
}

.wrap>.shop-categories>.shop-category:hover {
    background: #3a3a3a;
}

.wrap>.shop-categories>.shop-category:active>p{
    color: white;
}

.wrap>.shop-categories>.shop-category>p {
    margin-top: 0.55em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}