body {
	margin: 0;
	background: url("../../src/img/doshka.jpg") no-repeat;
	background-position: top;
}
.pliers {
	background: url(../../src/img/sprite-studio.png) no-repeat -595px -1px;
	height: 417px;
	width: 448px;
	float: left;
	margin-top: -420px;
    margin-left: 220px;
}
.paper {
	background: url(../../src/img/sprite-studio.png) no-repeat -5px -373px;
	height: 434px;
	width: 521px;
	float: right;
	margin-top: -517px;
	margin-right: 65px;
}
.container{
	width: 100%;
	height: 74px;
	background: #1d120b;
	margin: 150px 0 110px;
	opacity: 0.7;
	border-top: #d9cbb9 4px solid;
	border-bottom: #d9cbb9 4px solid;
}
.circle {
	background: url(../../src/img/sprite-studio.png) no-repeat -1px -1px;
	width: 245px;
	height: 245px;
	margin: 0 auto;
    margin-top: -81px;
	transition: all 0.2s ease-out;
}
.circle:hover {
	transform: scale(1.1);
}
.circle:active {
	transform: scale(1);
}
.arrow {
	background: url(../../src/img/sprite-studio.png) no-repeat -291px -14px;
	width: 62px;
	height: 74px;
	float: right;
	margin-top: -161px;
	margin-right: 287px;
}
.main {
	margin: 0 auto;
	width: 1234px;
	margin-top: 29px;
}
.block1 {
	min-height: 280px;
	background: #1d120b;
	opacity: 0.7;
	border: #d9cbb9 4px solid;
	padding: 17px;
}
.block1 img {
	float: left;
}
.block1 h2, p {
	font-family: Arial;
	color: #fefefe;
}
.block1 h2 {
	height: 26px;
	width: 290px;
	padding-top: 8px;
	margin: 10px 0 0 530px;
	border: #fefefe 4px solid;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
}
.block1 p {
	font-size: 14px;
	line-height: 19px;
	margin: 12px 0px 0px 312px;
}
.block1 a {
	display: block;
	width: 118px;
	height: 20px;
	border: #fefefe 4px solid;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #fefefe;
	margin: 0px 0px 11px 852px;
	text-decoration: none;
}
